@model ImagensAleatorias.Postagem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md">
                <dt>
                    @Html.DisplayNameFor(model => model.url)
                </dt>
                <dd>
                    <img src="~/Upload/@Html.DisplayFor(model => model.url)" class="img-responsive" />
                </dd>
            </div>
            <div class="col-md">

                <dt>
                    @Html.DisplayNameFor(model => model.titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descricao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.usuario1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.usuario1)
                </dd>
            </div>
        </div>
    </dl>
</div>
<p>
    @if (Session["UsuarioCargo"] != null)
    {
        @Html.ActionLink("Editar | ", "Edit", new { id = Model.id })
    }
    @Html.ActionLink("Voltar a lista", "Index")
</p>
